@import url(./__item/photo-grid__item.css);
@import url(./__list/photo-grid__list.css);

.photo-grid {
  max-width: 1184px;
  width: 100%;
  margin: 0 auto;
  padding: 0 0 92px;
}

@media all and (max-width: 1024px) {
  .photo-grid {
    max-width: calc(100% - 96px);
    padding: 0 48px 92px;
  }
}

@media all and (max-width: 768px) {
  .photo-grid {
    max-width: calc(100% - 48px);
    padding: 0 24px 88px;
  }
}

@media all and (max-width: 640px) {
  .photo-grid {
    max-width: calc(100% - 32px);
    padding: 0 16px 64px;
  }
}