.intro__subtitle {
  max-width: 640px;
  margin: 0 auto;
  padding: 0 0 64px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
}

@media all and (max-width: 1024px) {
  .intro__subtitle {
    padding: 0 0 56px;
  }
}

@media all and (max-width: 320px) {
  .intro__subtitle {
  font-size: 16px;
  line-height: 1.25;
  padding: 0 0 40px;
  }
}