@import url(./__container/places__container.css);
@import url(./__item/places__item.css);
@import url(./__title/places__title.css);
@import url(./__url/places__url.css);
@import url(./__img/places__img.css);
@import url(./__text/places__text.css);
@import url(./__text/_url/places__text_url.css);
@import url(./__text/_link/places__text_link.css);

.places {
  max-width: 984px;
  margin: 0 auto;
  padding: 0;
}