.cover__title {
  max-width: 560px;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  text-align: center;
  color: #fff;
  margin: 0;
  padding: 0 0 32px;
  z-index: 10;
}

@media all and (max-width: 425px) {
  .cover__title {
    max-width: calc(100% - 32px);
    font-size: 32px;
    line-height: 1.09;
    padding: 0 0 16px;
  }
}