@import url(./__title/stat__title.css);
@import url(./__text/stat__text.css);
@import url(./__list/stat__list.css);
@import url(./__list/_bold/stat__list_bold.css);

.stat {
  max-width: 984px;
  width: 100%;
  margin: 0 auto;
  padding: 0 0 92px;
}

@media all and (max-width: 1024px) {
  .stat {
    max-width: calc(100% - 96px);
    margin: 0;
    padding: 0 48px 92px;
  }
}

@media all and (max-width: 768px) {
  .stat {
    max-width: calc(100% - 48px);
    padding: 0 24px 88px;
  }
}

@media all and (max-width: 320px) {
  .stat {
    max-width: calc(100% - 32px);
    padding: 0 16px 64px;
  }
}