.places__item {
  width: 984px;
  max-height: 660px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: minmax(min-content, max-content) minmax(min-content, max-content);
  grid-column-gap: 40px;
  grid-row-gap: 48px;
  margin: 0;
  padding: 0 0 80px;
}